<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the CSS file in static folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <title>TimeFlow</title>
</head>
<body>
    <h1>Welcome to TimeFlow</h1>
    <p>Choose an option to get started:</p>
    <!-- Testing buttons for dashboard -->
    <button onclick="window.location.href='/login'">login</button>
    <button onclick="window.location.href='/signup'">signup</button>
    <br>
    <button onclick="window.location.href='/employee_dashboard'">Employee Dashboard</button>
    <button onclick="window.location.href='/boss_dashboard'">Boss Dashboard</button>
</body>
</html>
